/* header and nav layout */
header .nav-wrapper {
  background-color: var(--light-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  /* height: var(--nav-height); */
  font-family: var(--body-font-family);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3);
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  display: none;
  visibility: hidden;
}

/* set section widths */
header .nav-brand .default-content-wrapper,
header .nav-tools .default-content-wrapper,
header .nav-sections .default-content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

/* brand */
header .nav-brand {
  grid-row: 2;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-brand .default-content-wrapper {
  display: flex;
  align-items: center;
}

header .nav-brand ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-color);
  padding: 0;
  margin: 14px 0;
}

header .nav-brand ul li {
  margin-left: 24px;
}

/* sections */
header nav .nav-sections {
  background-color: var(--highlighted-color);
  grid-row: 1;
}

header nav .nav-sections .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .nav-sections ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-color);
  padding: 0;
  margin: 14px 0;
}

header nav .nav-sections ul li {
  display: inline-block;
  line-height: 1rem;
}

header nav .nav-sections ul li a {
  display: inline-block;
  line-height: 1rem;
  text-underline-position: under;
}

header nav .nav-sections ul:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 215px;
  margin-right: 215px;
}

header nav .nav-sections ul:last-of-type li {
  margin-right: 28px;
}

header nav .nav-sections p:first-of-type {
  width: 242px;
  background-color: var(--light-color);
  border-radius: 1.5rem;
  font-size: .875rem;
  padding: .25rem;
  display: flex;
  align-items: center;
}

header nav .nav-sections p:first-of-type span {
  background-color: rgb(10, 65, 197);
  border-radius: 100%;
  position: relative;
}

header nav .nav-sections p:first-of-type span img {
  width: 18px;
  height: 18px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(175deg) brightness(103%) contrast(101%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header nav .nav-sections .button-container {
  display: flex;
  align-items: center;
}

header nav .nav-sections .button-container a {
  margin: 0 0 0 24px;
  display: inline-block;
}

/* tools */
header nav .nav-tools {
  grid-row: 3;
}

header nav .nav-tools ul {
  list-style: none;
  display: flex;
  font-size: .75rem;
  color: var(--text-color);
  padding: 0;
  margin: 16px 0;
}

header nav .nav-tools ul li:first-of-type:hover a {
  text-underline-position: under;
}

header nav .nav-tools ul li {
  display: flex;
  align-items: center;
}

header nav .nav-tools ul li:last-of-type:before {
  display: block;
  content: "/";
  padding: 0 12px;
  width: fit-content;
}
