/* header and nav layout */
header .nav-wrapper {
  background-color: var(--light-color);
  width: 100%;
  z-index: 2;
}

header nav {
  box-sizing: border-box;
  width: 100%;
  height: var(--nav-height);
  font-family: var(--body-font-family);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3);
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  display: none;
  visibility: hidden;
}

/* set section widths */
header .nav-brand,
header .nav-tools,
header .nav-sections {
  width: 100%;
}

header .nav-brand .default-content-wrapper,
header .nav-tools .default-content-wrapper,
header .nav-sections .default-content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2rem;
}

/* brand */
header .nav-brand {
  grid-row: 2;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-brand .default-content-wrapper {
  display: flex;
  align-items: center;
}

header .nav-brand ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-color);
  padding: 0;
  margin: 14px 0;
}

header nav .nav-brand .default-content-wrapper p:last-of-type {
  display: none;
  visibility: hidden;
}

header .nav-brand ul li {
  margin-left: 24px;
}

/* sections */
header nav .nav-sections {
  background-color: var(--highlighted-color);
  grid-row: 1;
}

header nav .nav-sections .default-content-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1rem;
}

header nav .nav-sections ul {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-color);
  padding: 0;
  margin: 14px 0;
}

header nav .nav-sections ul li {
  display: inline-block;
  line-height: 1rem;
  margin-right: 16px;
}

header nav .nav-sections ul li a {
  display: inline-block;
  line-height: 1rem;
  text-underline-position: under;
  white-space: nowrap;
}

header nav .nav-sections ul:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1/ span 2;
}

header nav .nav-sections ul:last-of-type {
  grid-column: 5 / span 4;
  padding-right: 28px;
  justify-content: flex-end;
}

header nav .nav-sections p:first-of-type {
  width: 242px;
  background-color: var(--light-color);
  border-radius: 1.5rem;
  font-size: .875rem;
  padding: .25rem;
  display: flex;
  align-items: center;
  grid-column: 9/ span 3;
}

header nav .nav-sections p:first-of-type span {
  background-color: rgb(10, 65, 197);
  border-radius: 100%;
  position: relative;
}

header nav .nav-sections p:first-of-type span img {
  width: 18px;
  height: 18px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(175deg) brightness(103%) contrast(101%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header nav .nav-sections .button-container {
  display: flex;
  align-items: center;
  grid-column: 12/ span 1;
}

header nav .nav-sections .button-container a {
  margin: 0 0 0 24px;
  display: inline-block;
}

/* tools */
header nav .nav-tools {
  grid-row: 3;
}

header nav .nav-tools ul {
  list-style: none;
  display: flex;
  font-size: .75rem;
  color: var(--text-color);
  padding: 0;
  max-height: 50px;
}

header nav .nav-tools ul li:first-of-type:hover a {
  text-underline-position: under;
}

header nav .nav-tools ul li {
  display: flex;
  align-items: center;
}

header nav .nav-tools ul li:last-of-type:before {
  display: block;
  content: "/";
  padding: 0 12px;
  width: fit-content;
}

@media (width >= 1400px) {
  header nav .nav-sections li {
    margin-right: 28px;
  }
}

@media (width <= 1000px) {
  header nav {
    height: var(--mobile-nav-height);
  }

  header .nav-sections {
    display: none;
    visibility: hidden;
  }

  header nav .nav-brand {
    height: 56px;
    box-shadow: 0 0 .75rem #ccccd2;
  }

  header nav .nav-brand ul {
    display: none;
    visibility: hidden;
  }

  header nav .nav-brand .default-content-wrapper {
    position: relative;
    height: 100%;
    justify-content: flex-end;
  }

  header nav .nav-brand .default-content-wrapper p:last-of-type {
    display: block;
    visibility: visible;
  }

  header nav .nav-brand .default-content-wrapper p:last-of-type a {
    color: var(--link-hover-color);
    font-weight: 700;
    font-size: 1rem;
  }

  header nav .nav-brand .default-content-wrapper p {
    margin: 0;
  }
  
  header nav .nav-brand .default-content-wrapper p a {
    display: block;
  }

  header nav .nav-brand .default-content-wrapper p a:hover {
    text-decoration: none;
  }

  header nav .nav-brand .default-content-wrapper p:first-of-type {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  header nav .nav-hamburger {
    visibility: visible;
    position: absolute;
    left: 2rem;
    height: 22px;
    display: flex;
    align-items: center;
    z-index: 5;
    height: 56px;
  }

  header nav .nav-hamburger button {
    background: transparent;
  }

  header nav .nav-hamburger button {
    height: 22px;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: var(--background-color);
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
  }

  header nav .nav-hamburger-icon,
  header nav .nav-hamburger-icon::before,
  header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
  }

  header nav .nav-hamburger-icon::before,
  header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
  }

  header nav[aria-expanded="false"] .nav-hamburger-icon,
  header nav[aria-expanded="false"] .nav-hamburger-icon::before,
  header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
  }

  header nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -6px;
  }

  header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 6px;
  }

  header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
  }

  header nav[aria-expanded="true"] .nav-hamburger-icon::before,
  header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
  }

  header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
  }
}

@media (width <= 600px) {
  header .nav-brand .default-content-wrapper,
  header .nav-tools .default-content-wrapper {
    padding: 0 1rem;
  }

  header nav .nav-hamburger {
    left: 1rem;
  }
}