.disclosure {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.disclosure > div {
	grid-column: span 7;
}

.disclosure > div div:first-child p {
	margin: 0;
	line-height: 1.3;
    font-size: 1.35rem;
    margin: 0 0 .75rem;
	font-weight: 600;
	letter-spacing: 0 !important;
}

.disclosure > div div:nth-child(2) p {
	line-height: 1.5;
    font-weight: 400;
    letter-spacing: .01em;
	color: var(--text-color);
	font-size: 0.8rem;
}

.disclosure > div div:nth-child(2) p:first-of-type {
	margin: 64px 0 32px 0;
}

.disclosure > div div:nth-child(2) p:first-of-type span {
	height: 12px;
	width: 16px;
	margin: 0 12px 5px 0;
}

.disclosure > div div:nth-child(2) p:first-of-type span img {
	width: 16px;
	height: 12px;
}

.disclosure > div div:nth-child(2) p:nth-of-type(2) {
	margin: 0 0 32px 0;
}

@media (width <= 900px) {
	.disclosure {
		grid-template-columns: repeat(8, 1fr);
	}

	.disclosure > div {
		grid-column: 1/ span 8;
		padding: 1rem;
	}
}