main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

/* hero container & image positioning for full-bleed */
.hero.main {
  position: relative;
  min-height: 555px;
  margin: 0;
}

.hero.main .hero-image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero.main .hero-image-wrapper picture {
  inset: 0;
  box-sizing: border-box;
}

.hero.main img {
  object-fit: cover;
  width: 100%;
  height: 555px;
  display: block;
}

/* hero content positioning */
.hero.main .hero-cta-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 2rem;
}

/* controls styles of white text box */
.hero.main .hero-textbox {
  background-color: var(--light-color);
  padding: 1.5rem;
  width: fit-content;
  box-shadow: 0 .1rem .4rem 0 rgba(0, 0, 0, .05), 0 .2rem .8rem .3rem rgba(0, 0, 0, .03), 0 .2rem 1.6rem .6rem rgba(0, 0, 0, .05);
}

.hero.main h4 {
  color: var(--subheading-color);
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 0;
  width: fit-content;
  margin-bottom: 0.75rem;
}

.hero.main h1 {
  color: var(--heading-color);
  margin: 0;
  width: fit-content;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.75rem;
}

.hero.main h5 {
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #4c4c50;
  margin: 0;
  width: fit-content;
  max-width: 400px;
}

/* article page hero styles */
.hero.article .hero-image-wrapper {
  display: flex;
  flex-direction: column-reverse;
  max-width: 1200px;
  margin: 48px auto 0;
}

.hero.article .hero-image-wrapper div:nth-child(2) h1 {
  margin: 0;
  line-height: 1.2;
  letter-spacing: .01em;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 1.25rem;
  color: var(--heading-color);
}

.hero.article .hero-image-wrapper div:nth-child(2) p {
  line-height: 1.6;
  letter-spacing: .01em;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 .5rem;
}

.hero.article img {
  object-fit: cover;
  height: 630px;
  width: 100%;
}

/* responsive mobile styles */
@media (width <= 900px) {
  .hero.main {
    position: relative;
    min-height: 100%;
    margin-bottom: 48px;
  }

  .hero.main .hero-image-wrapper {
    position: relative;
    height: 100%;
    display: block;
  }

  .hero.main .hero-image-wrapper picture {
    height: 100%;
  }

  .hero.main img {
    height: 50vw;
  }

  .hero.main .hero-cta-wrapper {
    padding: 0 2rem 1rem;
    margin-top: -16px;
  }

  .hero.main .hero-textbox {
    width: auto;
  }

  .hero.main h1 {
    font-size: 1.55rem;
  }

  .hero.article {
    padding: 0 1rem;
  }

  .hero.article .hero-image-wrapper div:nth-child(2) h1 {
    font-size: 2rem;
  }

  .hero.article .hero-image-wrapper div:nth-child(2) p {
    font-size: 0.9rem;
  }

  .hero.article img {
    height: 264px;
  }
}

@media (width <= 600px) {
  .hero.main .hero-cta-wrapper {
    padding: 0 1rem 1rem;
    margin-top: -16px;
  }

  .hero.main img {
    height: 70vw;
  }
}