footer {
  padding: 32px 2rem 88px 2rem;
  background-color: var(--footer-color);
  color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/* footer socials section */
footer .footer .default-content-wrapper {
  display: flex;
}

footer .footer .default-content-wrapper span {
  margin-right: 32px;
  height: 70.5px;
  width: 40px;
  display: inline-block;
}

footer .footer .default-content-wrapper span img {
  height: 40px;
  width: 40px;
}

/* footer columns section */
footer .footer .footer-columns.block > div {
  width: 100%;
  display: flex;
  padding-top: 16px;
}

footer .footer .footer-columns.block > div > div {
  width: 25%;
  display: flex;
  flex-direction: column;
}

/* for california privacy link */
footer .footer .footer-columns.block div p:not(.button-container) a {
  color: var(--light-color);
  position: relative;
  border-bottom: 1px solid var(--footer-color);
}

footer .footer .footer-columns.block div p:not(.button-container) a:hover {
  text-decoration: none;
  border-bottom: solid 1px var(--light-color);
}

footer .footer .footer-columns.block div p picture {
  position: relative;
  margin: 2px 0 0 4px;
}

footer .footer .footer-columns.block div p picture img {
  width: 30px;
  height: 14px;
}

footer .footer .footer-columns.block div p {
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--light-color);
  font-size: 1rem;
  display: flex;
  width: fit-content;
  margin-top: 16px;
  border-bottom: 1px solid var(--footer-color);
}

footer .footer .footer-columns.block div .button-container a {
  background-color: transparent;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--light-color);
  font-size: 1rem;
  display: block;
  border-bottom: 1px solid var(--footer-color);
}

footer .footer .footer-columns.block div .button-container a:hover,
footer .footer .footer-columns.block div p:hover {
  border-bottom: 1px solid var(--light-color);
  cursor: pointer;
}


/* for last column with special spacing */
footer .footer .footer-columns.block > div > div:last-of-type {
  padding-top: 16px;
}

footer .footer .footer-columns.block > div > div:last-of-type p {
  margin: 0;
}

footer .footer .footer-columns.block > div > div:last-of-type p:hover {
  cursor: default;
  text-decoration: none;
}

footer .footer .footer-columns.block > div > div:last-of-type p:last-of-type{
  margin-top: 56px;
}