footer {
  padding: 32px 2rem 88px 2rem;
  background-color: var(--footer-color);
  color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

/* footer socials section */
footer .footer .default-content-wrapper {
  display: flex;
}

footer .footer .default-content-wrapper span {
  margin-right: 32px;
  height: 70.5px;
  width: 40px;
  display: inline-block;
}

footer .footer .default-content-wrapper span img {
  height: 40px;
  width: 40px;
}

/* footer columns section */
footer .footer .footer-columns.block > div {
  width: 100%;
  display: flex;
  padding-top: 16px;
}

footer .footer .footer-columns.block > div > div {
  width: 25%;
  display: flex;
  flex-direction: column;
}

/* for california privacy link */
footer .footer .footer-columns.block div p:not(.button-container) a {
  color: var(--light-color);
  position: relative;
}

footer .footer .footer-columns.block div p:not(.button-container) a:hover {
  text-decoration: none;
}

footer .footer .footer-columns.block div p picture {
  position: relative;
  margin: 2px 0 0 4px;
}

footer .footer .footer-columns.block div p picture img {
  width: 30px;
  height: 14px;
}

footer .footer .footer-columns.block div p {
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--light-color);
  font-size: 1rem;
  display: flex;
  width: fit-content;
  margin-top: 16px;
}

footer .footer .footer-columns.block div .button-container a {
  background-color: transparent;
  border-radius: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--light-color);
  font-size: 1rem;
  display: block;
}

footer .footer .footer-columns.block div .button-container a:hover,
footer .footer .footer-columns.block div p:hover {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}


/* for last column with special spacing */
footer .footer .footer-columns.block > div > div:last-of-type {
  padding-top: 16px;
}

footer .footer .footer-columns.block > div > div:last-of-type p {
  margin: 0;
}

footer .footer .footer-columns.block > div > div:last-of-type p:hover {
  cursor: default;
  text-decoration: none;
}

footer .footer .footer-columns.block > div > div:last-of-type p:last-of-type{
  margin-top: 56px;
}


@media (width <= 900px) {
  footer {
    padding: 32px 2rem 48px 2rem;
  }

  footer .footer .default-content-wrapper span img {
    height: 32px;
    width: 32px;
  }

  footer .footer .footer-columns.block > div {
    flex-wrap: wrap;
  }

  footer .footer .footer-columns.block > div > div {
    width: 49%;
  }

  footer .footer .footer-columns.block div p,
  footer .footer .footer-columns.block div .button-container a {
    font-size: 0.85rem;
  }

  footer .footer .footer-columns.block > div > div:first-of-type {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .footer .footer-columns.block > div > div:first-of-type p {
    width: 49%;
  }

  footer .footer .footer-columns.block > div > div:last-of-type {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-top: solid 1px var(--light-color);
    margin-top: 32px;
  }

  footer .footer .footer-columns.block > div > div:last-of-type p {
    width: 49%;
  }

  footer .footer .footer-columns.block > div > div:last-of-type p:last-of-type {
    margin: 0;
  }
}

@media (width <= 600px) {
  footer {
    padding: 32px 1rem 88px 1rem;
  }
}